<div class="my-container h-full of-auto" id="style-4">
  <table class="table table-hover text-white-f">
    <tbody>
      <tr class="max-h-100" *ngFor="let item of notifications">
        <td class="w-51">
          <div>
            <img 
              src="{{item.friend.otherInformation.publicMedia.profileImage}}"
              alt=""
              class="w-35 h-35p rounded-circle fit-image">
          </div>
        </td>

        <td style="padding-top: 5px!important; padding-bottom: 5px!important;">
          <div class="flout-l w-100p">
            <span class="text-green">
              {{item.friend.firstName + ' ' + item.friend.lastName}}
            </span>

            <span *ngIf="item.type === 'comment'">
              je comentarisao vasu objavu
            </span>

            <span *ngIf="item.type === 'like'">
              je lajkovao vasu objavu
            </span>

            <span *ngIf="item.publication.type === 'again'">
              <img src="{{item.publication.image}}" alt="" class="w-35 h-20p fit-image">
              <span *ngIf="item.publication.text !== null">{{item.publication.text}}</span>
            </span>
          </div>

          <div class="flout-l w-100p">
            <span class="fs-12 fa-green">
              <i class="fa fa-clock-o" aria-hidden="true"></i>
            </span>
            <span class="fs-12">
              {{item.dateNotification | date: 'dd. MMM yyyy. HH:mm'}}
            </span>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>