<div class="container-notification">
  <table class="table table-hover">
    <tbody>

      <!-- Ovo ide u for petlju i vrti se za sve notifikacije koje imamo -->
      <tr>
        <td class="td-left">
          <div class="img"><a [routerLink]="['/profile/kajsdkaljsdjal']"><img src="./assets/picture/face-3.jpg" width="100%" height="100%"></a></div>
          <!-- <span style="font-size: 10px">20. feb 2020.</span> -->
        </td>
        <td class="td-right">
          <!-- Kada dodam sliku -->
          <span *ngIf="isOwner">
            <div class="left">Vi ste dodali novu profilnu sliku </div>
            <div class="right"></div>
          </span>
      
          <!-- Kada neko lajkuje moju sliku -->
          <span *ngIf="isOwner">
            <div class="left">Dejan je lajkovao vasu sliku <br><span class="date">23. feb 2020.</span></div>
            <div class="right"><img src="./assets/picture/face-3.jpg" width="100%" height="100%"></div>
          </span>

          <!-- Kada je neko blizu vas -->
          <span *ngIf="isOwner">
            <div class="left">Petar je bio u vasoj blizini, javite mu se <br><span class="date">23. feb 2020.</span></div>
            <div class="right"><span><span class="icon-center"><i class="fa fa-map-marker green" aria-hidden="true"></i></span>500m</span></div>
          </span>

          <!-- Kada je neko posetio vas profil -->
          <span *ngIf="!isOwner">
            <div class="left">Stefan je posetio vas profil, pokazite inicijativu i javite se <br><span class="date">23. feb 2020.</span></div>
            <div class="right"><span><span class="icon-center"><i class="fa fa-map-marker green" aria-hidden="true"></i></span>500m</span></div>
          </span>
        </td>
      </tr>

    </tbody>
  </table>
</div>