.container-notification {
	margin-top: calc(100vh - 94vh);
    height: calc(100vh - 8.5vh);
	color: #fff;
}

table {
	color: #fff;
}

.td-left {
	width: 10%;
}

.td-right {
	width: 90%;
	margin: 0;
}

.img {
	width: 40px;
}

.img img {
	border-radius: 50%;
}

.right {
	width: 50px;
    float: right;
}

.left {
	float: left;
	max-width: 80%;
}

.date {
	font-size: 11px;
}

.icon-center {
	margin-left: 16px;
}

.green {
	color: #00c928;
}

.style-link {
	font-size: 20px;
    color: #00c928;
}

.modal-content {
	background: black;
}

.img-responsive1 {
	width: 100%;
	height: 100%;
}

.modal-button-position {
	position: absolute;
	bottom: 60px;
	left: 15px;
}
.number-of-likes {
    position: absolute;
    bottom: 60px;
    font-size: 14px;
    right: 50px;
    color: #fff;
}
.left-60 {
    left: 60px;
}