.w-calc {
  width: 250px;
}
.w-area {
  width: calc(100% - 250px);
}
.h-list-calc {
  height: calc(100% - 50px);
}
.css-send:hover {
  color: #00c928;
}
.css-smile:hover {
  color: #00c928;
}
.h-typing {
  height: 35px;
}
.hide {
  display: none;
}
.shadow {
  box-shadow: 0 -20px 61px 0px black!important;
}
.hover-smile {
  width: 28px;
  height: 28px;
}
.hover-smile:hover {
  width: 35px;
  height: 35px;
}
.smile-size-chat {
  width: 20px;
  height: 20px;
}
@media (max-width: 768px) {
  .mobile-hide {
    display: none;
  }
  .h-full {
    height: calc(100% - 55px);
  }
  .w-calc {
    width: 100%;
  }
  .w-area {
    width: 100%;
  }
  .h-45p {
    height: 50px;
  }
  .p-b-10 {
    padding-bottom: 5px;
  }
  .p-t-10 {
    padding-top: 5px;
  }
  .w-l-b {
    width: 120px;
  }
  .w-c-b {
    width: calc(100% - 190px);
  }
  .w-r-b {
    width: 70px;
  }
  .h-message-area {
    height: 6%;
  }
  .h-chat-area {
    height: calc(94vh - 115px);
  }
  .h-chat-area-open-smile {
    height: calc(94% - 200px)!important;
  }
  .h-chat-area-typing {
    height: calc(94% - 35px);
  }
  .css-send {
    color: #ddd;
    font-size: 30px;
    width: 100%;
    height: 50px;
  }
  .css-smile {
    color: #ddd;
    font-size: 30px;
    width: 100%;
    height: 50px;
  }
}
@media (min-width: 769px) {
  .w-l-b {
    width: 160px;
  }
  .w-c-b {
    width: calc(100% - 280px);
  }
  .w-r-b {
    width: 120px;
  }
  .h-message-area {
    height: 10%;
  }
  .h-chat-area {
    height: 90vh;
  }
  .h-chat-area-open-smile {
    height: calc(90% - 150px)!important;
  }
  .h-chat-area-typing {
    height: calc(90% - 35px);
  }
  .css-send {
    color: #ddd;
    font-size: 30px;
    width: 100%;
    height: 65px;
  }
  .css-smile {
    color: #ddd;
    font-size: 30px;
    width: 100%;
    height: 65px;
  }
}
@media (min-width: 1400px) {
  .w-area {
    max-width: 1400px;
    margin-left: calc(1400px - calc(100% - 1250px));
  }
}