.body-search {
	max-width: 1440px;
    height: 100%;
}
.w-50pp {
    width: 50%;
}
.w-33pp {
    width: 33.33%;
}
.b-botton-3 {
    border-bottom: 3px solid #fff;
}
.number-noti {
    border: 1px solid #00c928;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #00c928;
    right: 0;
    font-weight: 900;
}
@media (min-width: 1440px) {
    .my-container {
		max-width: 100%!important;
	}
	.body-search {
		margin-left: calc((100% - 1440px) / 2);
	}
}
@media (max-width: 768px) {
    .w-50p {
        width: 100%;
    }
    .sm-text-center {
        display: none;
    }
}
/* .my-container {
	padding-left: 15px!important;
    padding-right: 15px!important;
} */
