<div id="modal-content-wrapper">
  <header id="modal-header">
    <h4 class="modal-title left">Objavite slik</h4>
    <button type="button" class="modal-x" (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </header>
  <section id="modal-body">
    <div class="content-img" *ngIf="selectedFilesHeaderImage === null">
      <div class="box">
        <input 
          type="file"
          name="filesp"
          id="filesp"
          (change)="onSelectImgForHeader($event)"
          class="inputfile inputfile-4"
          accept="image/*"
          data-multiple-caption="{count} filesp selected"
          multiple style="display: none"/>

        <label for="filesp">
          <figure>
            <svg xmlns="assets/img/outbox.png" width="20" height="17" viewBox="0 0 20 17">
              <path d="M10 0l-5.2 4.9h3.3v5.1h3.8v-5.1h3.3l-5.2-4.9zm9.3 11.5l-3.2-2.1h-2l3.4 2.6h-3.5c-.1 0-.2.1-.2.1l-.8 2.3h-6l-.8-2.2c-.1-.1-.1-.2-.2-.2h-3.6l3.4-2.6h-2l-3.2 2.1c-.4.3-.7 1-.6 1.5l.6 3.1c.1.5.7.9 1.2.9h16.3c.6 0 1.1-.4 1.3-.9l.6-3.1c.1-.5-.2-1.2-.7-1.5z"/>
            </svg>
          </figure>
          <i style="cursor: pointer;" class="fa fa-picture-o" aria-hidden="true"></i>
        </label>
      </div>
    </div>
    <div class="show-image" *ngIf="selectedFilesHeaderImage !== null">
      <img [src]="urls">
      <div class="text-address">
        <textarea 
          class="form-control"
          type="text"
          name="text"
          [(ngModel)]="text"
          i18-pleacholder="@@publicAddCommentInput"
          placeholder="Dodajte neki tekst ...">
        </textarea>
      </div>
    </div>
  </section>
  <footer id="modal-footer">
      <button
        id="modal-action-button"
        class="btn btn-outline-success"
        (click)="saveImages()">
        Sacuvajte sliku
      </button>

      <button
        id="modal-cancel-button"
        class="btn btn-outline-danger"
        (click)="ngRestore()">
      Odustati od slike
    </button>
  </footer>
</div>