<div id="modal-content-wrapper" (keydown)="keyDownFunction($event)">
  <header 
    id="modal-header"
    class="pos-relative h-30p float-n">
    <button 
      id="modal-cancel-button"
      class="modal-x pos-absolute right-0"
      (click)="closeModal()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
  </header>
  <section id="modal-body" class="pos-relative">
    <div class="show-image">
      <img src="{{linkImage.link}}" alt="">

      <button 
        type="button"
        (click)="ngShift('left')"
        class="btn btn-outline-secondary pos-absolute top-50p left-1">
        <i class="fa fa-angle-left"></i>
      </button>

      <button 
        type="button"
        (click)="ngShift('right')"
        class="btn btn-outline-secondary pos-absolute top-50p right-1">
        <i class="fa fa-angle-right"></i>
      </button>
    </div>
  </section>

  <footer id="modal-footer" style="margin-top: 2px;">
    <div *ngIf="publicInfo !== null">
      <span class="number-of-likes" *ngIf="publicInfo !== null">
        Lajkovi: {{publicInfo.likes.length}}
      </span>
  
      <button
        type="button" 
        (click)="addToProfile()" 
        id="modal-action-button"
        class="btn btn-outline-success float-r"
        [disabled]="isDisable"
        *ngIf="isButtonAddPictur">
        
        <span>Postavi kao profilnu</span>
      </button>
  
      <button 
        type="button" 
        (click)="ngLikeDislike()" 
        [ngClass]="{'btn-outline-success': !isStatusButton(publicInfo.likes), 'btn-outline-danger': isStatusButton(publicInfo.likes) }" 
        id="modal-action-button"
        class="btn m-r-5 float-r">
  
        <i class="fa fa-thumbs-up" *ngIf="!isStatusButton(publicInfo.likes)"></i>
        <i class="fa fa-thumbs-o-down" *ngIf="isStatusButton(publicInfo.likes)"></i>
      </button>
    </div>

    <div class="text-center" *ngIf="publicInfo === null">
      <div 
        class="spinner-border text-success" 
        role="status">
        <span class="sr-only">Loading...</span>
      </div>
    </div>
    
  </footer>
</div>