#sidebar {
    margin-top: 0 !important;
    min-width: 200px;
    max-width: 200px;
    height: 100vh;
    background: #2f2f2f;
    color: #fff;
    transition: all 0.3s;
}

/* Ovde ide za veliki ekran */
.css-info {
    position: absolute;
    height: calc(100% - 100px);
    color: #00c928;
    margin-top: 100px;
}
.css-info p {
    margin-left: calc(100% - 60%);
}
.chat-area-tap {
    border-top: 1px solid green;
    height: 60px;
    padding: 5px 0 0 0;
}
.chat-button-smile {
    width: 15%;
    float: left;
    text-align: center;
}
.chat-button-smile button {
    color: #00c928
}
.chat-button-smile button:hover {
    color: #04ad26
}
.chat-textarea {
    float: left;
    width: 70%;
}
.chat-textarea textarea {  
    height: 100%;
    width: 100%;
    border-radius: 15px;
    padding: 0 0 0 7px;
}
.area-friends {
    float: left;
    min-height: 50px;
    width: 100%;
}
.area-friends .picture {
    margin: 10px 0px 5px 10px;
    /* border: 1px solid green; */
    float: left;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}
.area-friends .picture img {
    height: 100%;
    width: 100%;
    border-radius: 50px;
}
.area-friends .text {
    border: 1px solid green;
    float: left;
    min-height: 50px;
    max-width: 77%;
    margin: 10px 10px 5px 4px;
    background: #212529;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    color: #00c928;
}
.area-friends .text span {
    font-family: sans-serif;
    font-size: 13pt;
    letter-spacing: 0pt;
    word-spacing: 2pt;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 5px;
    word-wrap: break-word;
}
@media(min-width: 768px) {
    .xl-screen {
        max-width: calc(100vw - 250px);
    }
}
.chat-button-send {
    float: left;
    width: 15%;
    text-align: center;
    margin-top: 5px;
}
.chat-button-send button {
    color: #fff;
}

.area-me {
    float: right;
    width: 85%;
    min-height: 50px;
    margin: 1px 2px 1px 5px;
}
.area-me .text {
    border: 1px solid green;
    float: right;
    min-height: 50px;
    margin: 10px 10px 5px 4px;
    background: #00c928;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 5px;
    color: #fff;
    max-width: 86%;
}
.area-me .text span {
    font-family: sans-serif;
    font-size: 13pt;
    letter-spacing: 0pt;
    word-spacing: 2pt;
    -moz-tab-size: 2;
    -o-tab-size: 2;
    tab-size: 5px;
    text-align: justify;
    text-justify: inter-word;
    word-wrap: break-word;
}



.i-hiden {
    display: none;
}
.name-text {
    font-size: 14px !important;
    color: #fff;
}
.chat-text {
    font-size: 12px !important;
    color: #00c928
}
.chat-area {
    width: calc(100% - 200px);
    height: 100vh;
    margin-left: 200px;
}
.show {
    display: block;
}
.hide {
    display: none;
}
.online {
    color: #00c928
}
.offline {
    color: #da0000
}

.chat-area-box {
    max-height: calc(100vh - 61px);
    overflow: auto;
}

@media (max-width: 768px) {
    .chat-area-box {
        min-height: calc(100vh - 172px);
        max-height: calc(100vh - 113px);
        overflow: auto;
    }
    .chat-area-tap {
        border-top: 1px solid green;
        /* min-height: 120px; */
        /* max-height: 120px; */
        padding: 5px 0 0 0;
    }
    .css-info {
        position: absolute;
        margin-top: 40vh;
        margin-left: 27vw;
        color: #00c928;
    }
    .css-info img{
        display: none;
    }
    .css-info p{
        margin-left: calc(100% - 100%);
    }
    .indicator {
        background: #00c928;
        width: 10px;
        height: 10px;
        border-radius: 5px;
        margin: -50px 0 0 48px;
        float: left;
    }
    .chat-button-smile {
        width: 15%;
        float: left;
        text-align: center;
    }
    .chat-button-smile button {
        color: #00c928
    }
    .chat-button-smile button:hover {
        color: #04ad26
    }
    .chat-textarea {
        float: left;
        width: 70%;
    }
    .chat-textarea textarea {  
        height: 100%;
        width: 100%;
        border-radius: 15px;
        padding: 0 0 0 7px;
    }
    textarea[autoresize] {
        display: block;
        overflow: hidden;
        resize: none;
      }
    .chat-button-send {
        float: left;
        width: 15%;
        text-align: center;
        margin-top: 5px;
    }
    .chat-button-send button {
        color: #fff;
    }
    .chat-area {
        width: calc(100% - 60px);
        height: calc(100vh - 52px);
        margin-left: 60px;
    }
    .activ-text-width {
        display: none;
    }
    .i-hiden {
        display: block;
    }
    #sidebar {
        /* position: fixed; */
        /* margin-top: 37px !important; */
        min-width: 60px;
        max-width: 60px;
        text-align: center;
        max-height: calc(100vh - 53px);
        /*margin-left: -80px !important;*/
    }
    
}

.activ-settings {
    display: none;
}
.activ-settings:hover {
    display: block;
}


#sidebar ul.components {
    padding: 20px 0;
    height: calc(100vh - 50px);
    overflow: auto;
}

#sidebar ul li a {
    max-height: 8vh;
    font-size: 12px;
    display: block;
    color: #00c928
}


#sidebar ul li a:hover {
    background: #464646;
    color: #fff
}

#sidebar ul li a span {
    font-size: 0.85em;
    padding: 0;
    margin: 0;
}

#sidebar ul li {
    margin-bottom: 1%;
    border-bottom: 1px solid #464646;
}

#sidebar ul li a i {
    margin-right: 10px;
}

ul ul a {
    font-size: 0.9em !important;
    background: #6d7fcc;
}