<div class="container xl-screen" style="margin: 0; padding: 0; float: left;">
  <div id="sidebar" style="float: left;">
    <div class="sidebar-header p-t-10 text-center"  style="border-bottom: 1px solid #00c928">
      <h3 class="activ-text-width h4" i18n="@@friendsTitle">Chats</h3>
      <strong class="i-hiden"><i class="fa fa-refresh" aria-hidden="true"></i></strong>
      
    </div>
    
    <ul class="list-unstyled components" #list id="style-4">
  
  
      <!-- Ovde ide lista svih prijatelja sa kojima sam chatovao -->
      <li *ngFor="let item of listChatFriends; let i = index" [id]="'list-user-' + item.user.username">
        <a style="height: 100%; cursor: pointer;" (click)="openUserForChat(item)">
          <div class="number-of-messages hide">
            <span>
              {{item.numberOfMessage}}
            </span>
          </div>
          <img class="rounded-circle" [ngClass]="item.device.length === 0 ? 'offline' : 'online'" src="{{item.user.otherInformation.publicMedia.profileImage}}" alt="" width="50px" height="50px">
          <div class="activ-text-width" style="width: 73%; height: 100%; float: right; margin-top: 12px;">
            <span class="name-text"> {{item.user.firstName + ' ' + item.user.lastName}} </span> <span style="float: right"><i class="fa fa-circle"  aria-hidden="true"></i></span> <br>
            <span class="chat-text"> {{item.text}} </span>
          </div>
        </a>
        <div class="indicator hide">
        </div>
      </li>
  
    </ul>
  </div>
  <div class="chat-area">
    <div class="chat-area-box" id="style-4" #scrollMe [scrollTop]="scrollMe.scrollHeight" (scroll)="onScroll($event)">
      <div *ngIf="notChatText === null" (click)="smileContextMenu(false)" #dateShow>
        <div class="list-chat" *ngFor="let item of chat.chatBox; let i = index" (click)="ngViewMessage(item)" [id]="'item-' + i">
          <!-- Ovde idu poruke od prijatelja -->
          <div class="area-friends" *ngIf="item.text._id_sender._id !== user._id">
            <div class="picture">
              <img src="{{item.text._id_sender.otherInformation.publicMedia.profileImage}}" alt="">
            </div>
            <div class="text">
              <span [innerHTML]="replaceLineBreak(item.text.text)"><br></span>
            </div>
            <div class="text-date-frends hide">{{item.date | date: 'dd. MMMM'}}</div>
          </div>

          <!-- Ovde idu moje poruke -->
          <div class="area-me" *ngIf="item.text._id_sender._id === user._id">
            
            <div class="text" (mouseenter) ="mouseEnter(i)" (mouseout)="mouseOut(i)">
              <div class="text-date hide">{{item.date | date: 'dd. MMMM'}}</div>
              <span [innerHTML]="replaceLineBreak(item.text.text)"><br></span>
            </div>
          </div>

        </div>
        <!-- Ovde ide notifikacija -->
        <div class="notify-for-taping">
          <div class="left" *ngIf="isTyping">typing...</div>
          <div class="right" *ngIf="isSendStatus">
            <span class="spinner-border smal float" role="status"></span>
          </div>
        </div>
      </div>
      <div class="css-info" *ngIf="notChatText !== null">
        <img src="../../../assets/picture/icons/logo2.png" alt="" width="100%" height="80%" *ngIf="!isOpenChating">
        <span class="spinner-border" role="status" *ngIf="isOpenChating"></span>
        <p *ngIf="!isOpenChating">{{notChatText}}</p>
      </div>


    </div>
    <div class="big-window" #smileRef id="'smile-list'">
      <div class="smile-list hide">
        <div class="list" id="style-4">
          <div class="item-grups" *ngFor="let item of listOneListSmile">
            <a class="cursor-pointer" (click)="selectSmile(item)">
              <img src="{{item}}" alt="">
            </a>
          </div>
        </div>
        <div class="groups">
          <div class="item-grups" *ngFor="let item of listSmile">
            <a class="cursor-pointer" (click)="openListSmile(item[0])">
              <img src="{{item[1]}}" alt="">
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="chat-area-tap" *ngIf="notChatText === null">
      <div class="smal-window" #smileRefMobile id="'smile-list'">
        <div class="smile-list-mobile hide">
          <div class="list" id="style-4">
            <div class="item-grups" *ngFor="let item of listOneListSmile">
              <a class="cursor-pointer" (click)="selectSmile(item)">
                <img src="{{item}}" alt="">
              </a>
            </div>
          </div>
          <div class="groups">
            <div class="item-grups" *ngFor="let item of listSmile">
              <a class="cursor-pointer" (click)="openListSmile(item[0])">
                <img src="{{item[1]}}" alt="">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="chat-button-smile">
        <button (click)="smileContextMenu(true)"><i class="fa fa-smile-o fa-3x"></i></button>
      </div>
      <div class="chat-textarea">
        <textarea name="" id="" [(ngModel)]="textChat" (keydown)="sendMessage($event)"></textarea>
      </div>
      <div class="chat-button-send">
        <button><i class="fa fa-paper-plane-o fa-2x" (click)="btnSendMessage()"></i></button>
      </div>
    </div>  
  </div>
</div>