<div id="modal-content-wrapper">
  <header id="modal-header">
  </header>

  <section id="modal-body" class="text-justify">
    <span class="fs-30 fa-green">
      <i class="fa fa-question-circle" aria-hidden="true"></i>
    </span>
    <span i18n="@@ModalQuestionDeleteFriendsOne">
      Da li ste sigurni da zelite da uklonite 
    </span>
    
    <span class="text-green">
      {{data.item.firstName + ' ' + data.item.lastName}}
    </span>

    <span i18n="@@ModalQuestionDeleteFriendsTwo">
      iz liste prijatelja?
    </span>
  </section>

  <footer id="modal-footer" class="float-r m-t-10">
    <button
      id="modal-action-button"
      class="btn btn-outline-success m-r-5"
      (click)="closeModal()"
      i18n="@@ButtonCancel">
      Odustati
    </button>

    <button
      id="modal-cancel-button"
      class="btn btn-outline-danger"
      (click)="ngDeleteItem()"
      i18n="@@ButtonDelete">
      Obrisati
    </button>
  </footer>

</div>