<div class="w-full h-80p m-b-5 bgnav bo-cir-5">
  <div class="p-r-5 p-t-5 p-b-5 p-l-5">
    <div class="float-l w-70 h-70p">
      <img 
        class="sizefull fit-image bo-cir-5"
        src="{{item.otherInformation.publicMedia.profileImage}}" alt=""/>
    </div>

    <div class="float-l w-calc-center h-70p">
      <div class="float-l w-full h-35p p-t-5 p-l-10 fs-22 text-white-f text-dot">
        <span>{{item.firstName + ' ' + item.lastName}}</span>
      </div>
      <div class="float-l w-full h-35p p-b-10 p-l-10 fs-12 text-green text-dot">
        <span *ngIf="item.otherInformation.dateOfBirth === null">
          {{item.otherInformation.adress.city + ' - ' + item.otherInformation.address.country}}
        </span>

        <span *ngIf="item.otherInformation.dateOfBirth !== null">
          {{item.otherInformation.dateOfBirth | date: 'dd. MMM yyyy'}}
        </span>
      </div>
    </div>

    <div class="float-r w-150 h-70p">
      <button 
        class="btn btn-success h-30p w-full m-b-2 m-t-2"
        [routerLink]="['/friends/' + item._id]"
        i18n="@@FriendsVisitProfisFriends">
        Pogledati profi
      </button>

      <button 
        class="btn btn-danger h-30p w-full m-b-2 m-t-2"
        (click)="deleteFriends()"
        i18n="@@FriendsRemoveFriends">
        Izbrisati prijatelja
      </button>
    </div>
  </div>
</div>