<div class="tab-item" >
  <div class="tab-item-left">
    <div class="cursor"><img src="{{user.otherInformation.publicMedia.profileImage}}" class="rounded-circle small" alt="" width="45px" height="45px"></div>
  </div>
  <div class="tab-item-right">

    <div class="item-right-top" *ngIf="item.image === null">
      <span style="color: #00c928;">{{user.firstName + ' ' + user.lastName}}</span> <span style="font-size: 12px; color: #ddd;" i18n="@@proflieNotificateAddFriend"> je postao prijatelj sa </span> <span style="color: #00c928;">{{item.user.firstName + ' ' + item.user.lastName}}</span>
    </div>
    <div class="item-right-top" *ngIf="item.image !== null">
      <span style="font-size: 12px; color: #ddd;" i18n="@@proflieNotificatePublicationPicture">Objavili ste sliku </span>
    </div>
    <div class="item-right-bottom">
      <span style="font-size: 12px; float: left; margin-top: -5px;">{{item.datePublish | date : 'dd. MMM yyyy. HH:mm'}}</span>
    </div>

    <div class="item-right-area" *ngIf="item.image !== null">
      <div>
        <a class="cursor-pointer" data-toggle="modal" data-target="#myModalImage" (click)="openImage(item.image)"><img src="{{item.image}}" class="img-area" alt=""></a>
        <span *ngIf="item.text !== null">{{item.text}}</span>
      </div>
    </div>
  </div>
  
  <div class="tab-foter">
    <div class="foter-btn-like">
      <button class="btn-like" (click)="likePublication()" *ngIf="!isStatusButton(item.likes)">
          <i class="fa fa-thumbs-o-up" aria-hidden="true"></i>
          <span i18n="@@proflieLikePublication"> Svidja vam se </span>
          <span style="font-size: 10px;">{{'(' + item.likes.length + ') '}}</span>
      </button>
      <button class="btn-like" (click)="disLikePublication()" *ngIf="isStatusButton(item.likes)">
        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
        <span i18n="@@proflieLikePublication"> Ne svidja vam se </span>
        <span style="font-size: 10px;">{{'(' + item.likes.length + ') '}}</span>
    </button>
    </div>
    <div class="foter-btn-like">
        <button class="btn-like" (click)="openComentar()">
            <i class="fa fa-comment-o" aria-hidden="true"></i>
            <span i18n="@@proflieComentPublication"> Komentarisite</span>
        </button>
      </div>
  </div>
  
  <div class="tab-coment" [ngClass]="showerChat">
    <div class="text" *ngFor="let comment of item.comments">
      <div class="coment-left">
          <img src="{{comment.user.otherInformation.publicMedia.profileImage}}" class="rounded-circle" alt="" width="35px" height="35px">
      </div>
      <div class="coment-right">
          <span style="color: #fff; font-size: 12px;">{{comment.text}}</span>
      </div>
    </div>
    <br>
    <div class="text m-t-10">
      <div class="coment-left">
          <img src="{{user.otherInformation.publicMedia.profileImage}}" class="rounded-circle" alt="" width="35px" height="35px">
      </div>
      <div class="coment-right" style="padding: 0;">
          <input class="input100" type="text" name="comment" [(ngModel)]="addComment" i18-pleacholder="@@publicAddCommentInput" placeholder="Unesite neki komentar ..." (keydown)="sendMessage($event, item)">
      </div>
    </div>
    
  </div>
</div>

<div id="myModalImage" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-body">
            <img src="{{imageLink}}" class="img-responsive1">
        </div>
    </div>
  </div>
</div>