<div class="tab-item" >

  <!-- Ovde ide slika osobe koja je napravila objavu -->
  <div class="float-l p-l-5 p-t-5 p-r-5 p-b-5 w-full h-8 bo-b-1-d">
    <div class="cursor-pointer float-l w-60 h-8">
      <img
        src="{{user.otherInformation.publicMedia.profileImage}}" 
        class="rounded-circle small fit-image" 
        alt="" 
        width="45px" 
        height="45px"/>
    </div>

    <div class="calc-width float-l h-8">
      <span class="fw-600 text-green fs-14">
        {{item.user_id.firstName + ' '}}
      </span>

      <!-- Ovde pocinje naslov za svaki tim nase objave -->
      <span 
        class="fs-14 fa-white"
        i18n="@@PublicationIsUpdateProfilImage"
        *ngIf="item.type === 'imageProfil'">
        je promenio profilnu sliku
      </span>

      <span
        class="fs-14 fa-white"
        i18n="@@PublicationIsVisit"
        *ngIf="item.type === 'locatPublic'">
        je posetio 
      </span>

      <span
        class="fs-14 fa-white"
        i18n="@@PublicationIsPublicNewPicture"
        *ngIf="item.type === 'imagePublic'">
        je objavio novu sliku
      </span>

      <span
        class="fs-14 fa-white"
        i18n="@@PublicationIsReacted"
        *ngIf="item.type === 'again'">
        je reagovo na staru objavu
      </span>

      <span
        class="fs-14 fa-white"
        i18n="@@PublicationIsWritenAnything"
        *ngIf="item.type === 'text'">
        je napisao nesto!
      </span>
      <!-- Ovde se zavrsava naslov za svaki tip objave -->

      <span class="fs-14 fa-white" *ngIf="item.type === 'locatPublic'">
        {{' ' + item.location.address.city  + ' - ' + item.location.address.neighbourhood}}
      </span>

      <span class="fs-14 fa-white" *ngIf="item.type === 'again' && item.location !== null">
        {{' ' + item.location.address.city  + ' - ' + item.location.address.neighbourhood}}
      </span>

      <div>
        <span class="fa-white fs-12 float-l">
          {{item.datePublish | date : 'dd. MMM yyyy. HH:mm'}}
        </span>
        
        <span class="fs-14 float-l m-l-10">
          <i 
            class="fa fa-globe fa-white"
            aria-hidden="true"
            *ngIf="!item.showPublication.removeStatus && !item.showPublication.justFriends">
          </i>

          <i 
            class="fa fa-users fa-white" 
            aria-hidden="true"
            *ngIf="!item.showPublication.removeStatus && item.showPublication.justFriends">
          </i>

          <i 
            class="fa fa-lock fa-white" 
            aria-hidden="true"
            *ngIf="item.showPublication.removeStatus && !item.showPublication.justFriends">
          </i>

          <div class="float-r dropdown" *ngIf="item.user_id._id === me._id">
            <span
              aria-hidden="true"
              role="button"
              id="dropdownMenuLink"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              <i class="fa fa-chevron-down text-green m-l-5 cursor-pointer"></i>
            </span>
            <div class="dropdown-menu line-height" *ngIf="item.user_id._id === me._id">
              <div *ngIf="!isContextMenu">
                <div class="w-full bo-b-1-d text-center">
                  <span class="text-black fs-14 w-full">Ko moze ovo videti</span>
                </div>

                <button 
                  class="dropdown-item p-t-5 p-r-5 p-b-0 p-l-5 cursor-pointer"
                  [disabled]="!item.showPublication.removeStatus && !item.showPublication.justFriends"
                  (click)="ngShowHidePublic(item, 'show')">
                  <ul class="fs-18">
                    <li class="float-l w-30">
                      <i class="fa fa-globe m-r-15" aria-hidden="true"></i>
                    </li>
                    <li class="float-l">
                      Svi
                    </li>
                  </ul>
                </button>

                <button
                  class="dropdown-item p-t-5 p-r-5 p-b-0 p-l-5 fs-18 cursor-pointer"
                  [disabled]="!item.showPublication.removeStatus && item.showPublication.justFriends"
                  (click)="ngShowHidePublic(item, 'friends')">
                  <ul>
                    <li class="float-l w-30">
                      <i class="fa fa-users m-r-15" aria-hidden="true"></i>
                    </li>
                    <li class="float-l">
                      Prijatelji
                    </li>
                  </ul>
                </button>

                <button 
                  class="dropdown-item p-t-5 p-r-5 p-b-0 p-l-5 fs-18 cursor-pointer"
                  [disabled]="item.showPublication.removeStatus && !item.showPublication.justFriends"
                  (click)="ngShowHidePublic(item, 'hide')">
                  <ul>
                    <li class="float-l w-30">
                      <i class="fa fa-lock m-r-15" aria-hidden="true"></i>
                    </li>
                    <li class="float-l">
                      Niko
                    </li>
                  </ul>
                </button>

              </div>
              <div class="spinner-border text-success m-t-0 m-l-72 m-b-0p m-r-0p fs-12 w-20 h-20p" role="status" *ngIf="isContextMenu">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          </div>
          
        </span>
      </div>
    </div>

    <div class="float-l w-60 h-8 dropdown" *ngIf="item.user_id._id === me._id">
      <span 
        class="fs-25 m-t-10 m-r-15 cursor-pointer fa-green-h float-r"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false">
        <i class="fa fa-sliders" aria-hidden="true"></i>
      </span>
      <div class="dropdown-menu line-height">
        <div *ngIf="!isContextMenu">
          <button 
            class="dropdown-item p-t-5 p-r-5 p-b-0 p-l-5 cursor-pointer"
            (click)="ngShowAgain(item, 'show')">
            Obajvi ponovo
          </button>

          <button 
            class="dropdown-item p-t-5 p-r-5 p-b-0 p-l-5 cursor-pointer"
            (click)="ngShowAgain(item, 'delete')">
            Obrisati
          </button>
        </div>
        <div class="spinner-border text-success m-t-0 m-l-72 m-b-0p m-r-0p fs-12 w-20 h-20p" role="status" *ngIf="isContextMenu">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    </div>
  </div>

  <div class="tab-item-right w-full h-10 float-l pos-relative">

    <div 
      class="w-full text-white-f p-l-10 p-t-10 p-r-10 p-b-10 lh-1-0"
      *ngIf="item.type === 'imagePublic' && (item.text !== 'null' && item.text !== null)">
      <span class="fs-14">
        {{item.text}}
      </span>
    </div>

    <div 
      class="w-full text-white-f p-l-10 p-t-10 p-r-10 p-b-10 lh-1-0"
      *ngIf="item.type === 'again' && (item.text !== 'null' && item.text !== null)">
      <span class="fs-14">
        {{item.text}}
      </span>
    </div>

    <div
      class="w-full bgblack-sider h-20 " 
      *ngIf="item.type === 'imageProfil' || item.type === 'imagePublic'">
      <a class="cursor-pointer" (click)="openImage(item)">
        <img src="{{item.image}}" class="sizefull h-f-70 fit-image" alt=""/>
      </a>
      
    </div>

    <div
      class="w-full bgblack-sider h-20" 
      *ngIf="item.type === 'again' && item.image !== null">
      <a class="cursor-pointer" (click)="openImage(item)">
        <img src="{{item.image}}" class="sizefull h-f-70 fit-image" alt=""/>
      </a>
    </div>

    <div 
      class="w-full h-10 text-white-f p-t-30 p-r-10 p-b-10 p-l-10 text-center"
      [ngClass]="item.text === null ? 'bgblack-sider' : ''" 
      *ngIf="item.type === 'locatPublic'" >
      <samp class="fs-20" *ngIf="item.text !== null">
        {{item.text}}
      </samp>
      <span *ngIf="item.text === null">
        <i class="fa fa-map fs-90 fa-white" aria-hidden="true"></i>
      </span>
    </div>

    <div 
      class="w-full h-10 text-white-f p-t-30 p-r-10 p-b-10 p-l-10 text-center"
      [ngClass]="item.text === null ? 'bgblack-sider' : ''" 
      *ngIf="item.type === 'again' && item.location !== null" >
      <samp class="fs-20" *ngIf="item.text !== null">
        {{item.text}}
      </samp>
      <span *ngIf="item.text === null">
        <i class="fa fa-map fs-90 fa-white" aria-hidden="true"></i>
      </span>
    </div>

    <div 
      class="w-full h-10 text-white-f p-t-0 p-r-10 p-b-10 p-l-10 m-b-25 text-center text-justify lh-1-2 fw-100"
      *ngIf="item.type === 'text'">
      <span class="fs-18">
        {{item.text}}
      </span>
    </div>

    <span class="fa-stack pos-absolute fa-green left-10 bottom-5">
      <i class="fa fa-thumbs-up fa-stack-2x"></i>
      <span class="fs-20 m-l-35">{{item.likes.length}}</span>
    </span>

    <span class="fa-stack pos-absolute fa-green right-60 bottom-5">
      <i class="fa fa-comment fa-stack-2x"></i>
      <span class="fs-20 m-l-35">{{item.comments.length}}</span>
    </span>
  </div>
  
  <!-- Ovo je komentar kada se otvori, nije sredjen -->
  <div class="tab-foter bo-b-1-d">
    <div class="float-l h-full w-50p p-t-1 p-r-1 p-b-1 p-l-1">
      <button
        class="sizefull btn btn-white p-t-1 p-r-1 p-b-1 p-l-1 text-center"
        (click)="ngLikeDislike(!isStatusButton(item.likes))">
        <i class="fa fa-thumbs-o-up" aria-hidden="true" *ngIf="!isStatusButton(item.likes)"></i>
        <span *ngIf="!isStatusButton(item.likes)" i18n="@@PublicationBtnLikeIt"> Svidja vam se </span>

        <i class="fa fa-thumbs-o-down" aria-hidden="true" *ngIf="isStatusButton(item.likes)"></i>
        <span *ngIf="isStatusButton(item.likes)" i18n="@@PublicationBtnDontLikeIt"> Ne svidja vam se </span>
      </button>
    </div>

    <div class="float-l h-full w-50p p-t-1 p-r-1 p-b-1 p-l-1" >
      <button
        class="sizefull btn btn-white p-t-1 p-r-1 p-b-1 p-l-1 text-center"
        (click)="openComentar()">
        <i class="fa fa-comment-o" aria-hidden="true"></i>
        <span i18n="@@PublicationBtnCommentars"> Komentarisite</span>
      </button>
    </div>
  </div>

  <div 
    class="float-l w-full h-min-40 p-t-5 p-l-5 h-max-60 of-auto"
    id="style-4" 
    [ngClass]="showerChat">

    <div *ngFor="let comment of item.comments">
      <div class="float-l w-full m-b-5">
        <div class="float-l m-r-15">
          <img 
            class="w-35 h-35p rounded-circle fit-image"
            src="{{comment.user.otherInformation.publicMedia.profileImage}}" alt="">
        </div>
  
        <div class="float-l coment-right">
          <div
            class="float-l bg-profil max-w-75 bo-cir-20 lh-1-3 p-t-10 fs-13 fa-white p-r-10 p-l-10 p-b-10 text-justify">
            <span class="btn-green cursor-pointer">{{comment.user.firstName + ' '}}</span>
            <span>{{comment.text}}</span>
          </div>
          <div class="float-r w-20p fs-12 text-center text-white-f">
            <span>
              {{comment.dateComent | date: 'dd.MMMM HH:mm'}}
            </span>
          </div>
        </div>
      </div>
    </div>

    <div class="float-l m-t-10 bo-b-1-d w-full p-b-5">
      <div class="comment-spiner" [ngClass]="isComment">
        <span class="spinner-border m-l-10" role="status"></span>
      </div>

      <div class="float-l w-55">
        <img 
          src="{{me.otherInformation.publicMedia.profileImage}}" 
          class="rounded-circle fit-image" 
          alt="" 
          width="35px" 
          height="35px"/>
      </div>
  
      <div class="float-r coment-right">
        <textarea 
          class="form-control " 
          type="text" 
          name="comment" 
          [(ngModel)]="addComment" 
          i18-pleacholder="@@publicAddCommentInput" 
          placeholder="Unesite neki komentar ..." 
          (keydown)="sendMessage($event, item)">
        </textarea>
      </div>
    </div>
  </div>
</div>
