<!--Ovo se desava sve dok se ne provjeri da li smo prijavljeni na sistem-->
<div *ngIf="loading">
  <div class="vertical-center">
      <div class="spinner-border" role="status"></div>
    </div>
</div>

<!--Ovde ide prvo ako nije prijavljen login page-->
<div *ngIf="!loginStatus">
  <div class="limiter" >
    <div class="container-login100">
      <div class="login100-more" [ngStyle]="{'background-image':' url(' + picture + ')'}"></div>

      <div class="wrap-login100 p-l-50 p-r-50 p-t-72 p-b-50">
        <form class="login100-form validate-form">
        
          <span class="login100-form-title p-b-59" i18n="@@createProfile">
            <i class="m-r-5"><img src="../assets/picture/icons/logo.png" alt="" width="25px" height="25px"></i>
            {{title}}
          </span>

          <span class="worning" *ngIf="worningRegistrationStatus" i18n="@@emailNotFree">Email je zauzet, proverite vas email!</span>
          <span class="worning" *ngIf="worningStatus" i18n="@@userIsDeactive">Nalog ne postoji ili je deaktiviran. Da bi ste ponovo vratili vas nalog posaljite zahtev za aktivaciju naloga</span>
          <span class="error" *ngIf="errorStatus" i18n="@@errorLogin">Email ili sifra nisu ispravni. Molimo vas proverite da li ste uneli ispravne podatke</span>
          <span class="success" *ngIf="successStatus" i18n="@@successLogin">Uspesno ste se registrovali, ostao je poslednji korak da verifikujete nalog. Idite na vas email i verifikujte nalog</span>
          <span class="worning" *ngIf="emailNotFound" i18n="@@emailNotFound">Email nije pronadjen molimo vas provjerite email</span>
          <span class="success" *ngIf="passwordRestart" i18n="@@passwordIsChange">Sifra je restartovana, sada se ulogujte sa novom sifrom</span>
          <span class="worning" *ngIf="codeNotValidate" i18n="@@codeNotCorect">Kod za restartovanje nije dobar, molimo vas provjerite vas kod u porukama</span>
      
          
          <app-login *ngIf="loginForm && !loading && !restart && !verify" (ngRestartPassword)="ngRestartPassword($event)" (ngNotActivete)="ngNotActivete($event)" (ngClose)="ngOpenClose($event)" (ngStatusProfile)="ngStatusProfile($event)" (ngLoginStatus)="ngLoginStatus($event)" (ngEerrorStatus)="ngEerrorStatus($event)"></app-login>
          <app-registration *ngIf="!loginForm  && !loading && !restart && !verify" (ngClose)="ngHidenClose($event)" (ngEmailNotCorect)="ngEmailNotCorect($event)"></app-registration>
          <app-restart *ngIf="restart && !verify" (ngNotFound)="ngNotFound($event)" (ngClose)="ngHidenClose($event)" (ngStatus)="ngStatus($event)"></app-restart>
          <app-verify *ngIf="verify && !restart" [email]="email" (ngNotCodeCorect)="ngNotCodeCorect($event)" (ngSavePassword)="ngSavePassword($event)" (ngClose)="ngOpenFirstPage($event)" (ngRestartPassword)="ngRestartPassword($event)"></app-verify>
        </form>
      </div>
      
      

    </div>
  </div>
</div>

<!--Ako je prijavljen ide ovo-->
<div *ngIf="loginStatus && !loading" class="wrapper">
  
  <app-sidebar (status)="status()"></app-sidebar>
  <div id="content" class="w-100 float-left">
    <nav class="navbar navbar-expand-lg bacground mobile-nav-bar">
        <div class="container-fluid float-left border-b p-b-5">
          <button type="button" (click)="ngOpenSideBar()" class="btn btn-dark">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          <div class="float-right">
            <button type="button" [ngClass]="btnColorNewFriend" class="btn btn-color">
              <i class="fa fa-user-plus" aria-hidden="true"></i>
            </button>
            <button type="button"  [ngClass]="btnColorNewMessage" class="btn btn-color">
              <i class="fa fa-weixin" aria-hidden="true"></i>
            </button>
            <button type="button"  [ngClass]="btnColorNewInfo" class="btn btn-color">
              <i class="fa fa-bell" aria-hidden="true"></i>
            </button>
          </div>
          
        </div>

    </nav>
    <router-outlet>
      <notifier-container></notifier-container>
    </router-outlet>
  </div>
</div>