.vertical-center {
    margin: 0;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.worning {
    font-size: 12px;
    color: orange;
    text-align: center
}

.error {
    font-size: 12px;
    color: red;
    text-align: center;
}

.success {
    font-size: 12px;
    color: green;
    text-align: center;
}

.green-color {
    color: #00c928 !important;
}

.wrapper {
    height: 100vh;
    display: flex;
    align-items: stretch;
    /* background: #464646; */
}
.mobile-nav-bar {
    display: none;
}
@media (max-width: 768px) {
    .mobile-nav-bar {
        display: block;
    }
}

.bacground {
    background: #464646;
}

.border-b {
    border-bottom: 1px solid #00c928;
}

.btn-color {
    color: #ffffff
}

.btn-color-status {
    color: #00c928 !important;
}

@media (min-width: 762px) {
    @media (max-height: 640px) {
        .wrapper {
            height: 106vh;;
        }
    }
}