<div *ngIf="loading">
  <div class="vertical-center">
      <div class="spinner-border" role="status"></div>
    </div>
</div>

<div class="wrapper">
  
  <app-sidebar *ngIf="loginStatus && !loading"></app-sidebar>
  
  <div id="content" class="w-100 float-left">
    <nav class="navbar navbar-expand-lg bacground mobile-nav-bar" *ngIf="loginStatus && !loading">
        <div class="container-fluid float-left border-b p-b-5">
          <button type="button" (click)="ngOpenSideBar()" class="btn btn-dark">
              <i class="fa fa-bars" aria-hidden="true"></i>
          </button>
          
          <div class="float-right">
            <button 
              [routerLink]="['/' + user.username + '/profile']"
              type="button"  
              class="btn btn-color">
              <i class="fa fa-user-circle-o" aria-hidden="true"></i>
            </button>

            <button 
              [routerLink]="['/chat/list-user']"
              type="button"
              class="btn btn-color"
              [ngClass]="{'green-color': isCount}">
              <i 
                class="fa fa-weixin pos-relative"
                aria-hidden="true">
                <span 
                  class="pos-absolute fs-13 text-green bottom-8 left-12 bo-cir p-t-3 p-r-3 p-b-3 p-l-3"
                  *ngIf="countMessage > 0 && countMessage < 10">
                  {{countMessage}}
                </span>
                <span 
                  class="pos-absolute fs-13 text-green bottom-8 left-12 bo-cir p-t-3 p-r-3 p-b-3 p-l-3"
                  *ngIf="countMessage === 10">
                  9+
                </span>
              </i>
            </button>

            <button 
              type="button"
              [ngClass]="btnColorNewInfo" 
              class="btn btn-color pos-relative"
              [routerLink]="['/notification']">
              <i class="fa fa-bell" aria-hidden="true"></i>
              
              <span class="pos-absolute style-notification" *ngIf="btnColorNewInfo !== ''"></span>
            </button>
          </div>
          
        </div>

    </nav>

    <router-outlet>
      <notifier-container></notifier-container>
    </router-outlet>
    
  </div>
</div>