<div 
  class="float-l w-100p min-h-50 m-b-5 text-white-f bo-b-1-d"
  [ngClass]="{'fw-600 bgnav': !item.isStatus}">
  <div class="float-l h-100pc w-51 bo-cir p-t-5 p-r-5 p-b-5 p-l-5">
    <img class="sizefull bo-cir fit-image" src="{{item.friend.otherInformation.publicMedia.profileImage}}" alt="">
  </div>

  <div class="float-l width-centar h-100pc p-t-4 p-b-5 fa-white fs-14">
    <section class="float-l p-r-5" *ngIf="item.friend !== null">
      <span class="text-green" [ngClass]="{'fs-18': !item.isStatus}">
        {{item.friend.firstName + ' ' + item.friend.lastName}}
      </span>
    </section>

    <section class="float-l p-r-5" *ngIf="item.publication !== null">
      <span *ngIf="item.type === 'comment'">
        je comentarisao vasu objavu 
        <span class="text-white-f" *ngIf="item.publication.text !== null">
          {{'"' + item.publication.text + '"'}}
        </span>
      </span>
    </section>

    <section class="float-l p-r-5" *ngIf="item.publication !== null">
      <span *ngIf="item.type === 'like'">
        je lajkovao vasu objavu
          <span class="text-white-f" *ngIf="item.publication.text !== null">
            {{'"' + item.publication.text + '"'}}
          </span>
      </span>
    </section>

    <section class="float-l p-r-5" *ngIf="item.publication !== null">
      <span *ngIf="item.publication.type === 'again'">
        <img src="{{item.publication.image}}" alt="" class="w-35 h-20p fit-image">
        <span *ngIf="item.publication.text !== null">{{item.publication.text}}</span>
      </span>
    </section>
  </div>

  <div class="float-l w-101 h-100pc text-center">
    <span class="fs-12 text-green">
      {{item.dateNotification | date: 'dd. MMM yyyy. HH:mm'}}
    </span>
  </div>
</div>
