
<div 
  class="float-l pos-relative cursor-pointer height-size widht-item p-l-5 p-r-5 p-t-5 p-b-5">

  <div class="sizefull bo-cir-t-l-5 bo-cir-b-l-5 bo-cir-t-r-5 bo-cir-b-r-5 bgnav">
    <div class="float-l w-100p h-70pc">
      <div class="float-l w-100p pos-relative height-image">
        <img 
            [routerLink]="['/f/' + item.friend.username + '/profile']"
            src="{{item.friend.otherInformation.publicMedia.profileImage}}" 
            alt="" 
            class="ab-c-m w-85 h-85p fit-image bo-cir" />
      </div>

      <div class="float-l w-100p h-40p">
        <span class="float-l w-100p fs-18 fw-600 text-center text-green">
          {{item.friend.firstName + ' ' + item.friend.lastName}}
        </span>

        <span class="float-l w-100p fs-12 fw-100 text-center text-white-f">
          {{item.dateNotification | date: 'dd. MMM yyyy HH:mm'}}
        </span>
      </div>
    </div>

    <div class="float-l w-100p h-30pc pos-relative fa-white text-center">
      <div 
        class="float-l w-100p"
        [ngClass]="{'h-100pc pos-absolute top-15': item.type !== 'relationship', 'h-50pc': item.type === 'relationship'}">
        <span>Novi Sad</span>
      </div>

      <div 
        class="float-l w-100p"
        [ngClass]="{'h-100pc pos-absolute top-15': item.type !== 'relationship', 'h-50pc pos-relative': item.type === 'relationship'}"
        *ngIf="item.type === 'relationship'">
        <div class="float-l w-33pc h-100pc">
          <button 
            class="float-l sizefull btn btn btn-danger"
            title="Odbi zahtev"
            (click)="addFriend(item, false)">
            <i class="fa fa-trash" aria-hidden="true" *ngIf="!isDelete"></i>
            <span class="spinner-border smal" role="status" *ngIf="isDelete"></span>
          </button>
        </div>

        <div class="float-l w-33pc h-100pc">
          <button 
            class="float-l sizefull btn btn btn-success"
            title="Prihvati zahtev"
            (click)="addFriend(item, true)">
            <i class="fa fa-check" aria-hidden="true" *ngIf="!isAdd"></i>
            <span class="spinner-border smal" role="status" *ngIf="isAdd"></span>
          </button>
        </div>

        <div class="float-l w-33pc h-100pc">
          <a
            class="float-l sizefull btn btn-info cursor-pointer"
            [routerLink]="['/f/' + item.friend.username + '/profile']">
            <i class="fa fa-user-o" aria-hidden="true"></i>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>