.height-size {
	height: calc(100% / 3);
}
.height-image {
	height: calc(100% - 40px);
}
.widht-item {
	width: calc(100% / 6);
}
.w-33pc {
	width: 33.33%;
}
@media (min-width: 1440px) {
	.height-size {
		height: calc(100% / 4);
    }
    .widht-item {
		width: calc(100% / 6);
	}
}

@media (max-width: 768px) {
	@media (min-width: 500px) {
		.widht-item {
			width: calc(100% / 3);
		}
	}

	@media (max-width: 499px) {
		.widht-item {
			width: calc(100% / 2);
		}
	}
}