.wp-user {
    width: 350px;
}
.wp-body {
    width: calc(100% - 350px);
}
.width-profile {
    max-width: 1440px;
}
.nav-bar {
    width: 100%;
    height: 50px;
    border-bottom: 3px solid #fff;
}
.p-center {
    position: absolute;
    top: 50%;
    left: 50%;
    padding: 0;
    margin: 0;
    transform-origin: center center;
    transform: translateX(calc((100% / 2) * (-1))) translateY(calc((100% / 2) * (-1)));
}
.height-picture {
    height: 250px;
}
.mobile-button {
    display: none;
}
.height-location {
    height: 200px;
}
.height-info {
    height: calc(100% - 450px);
}
.position-calc {
    top: 116px;
    left: 78px;
    background-color: black;
}
.hover-edit {
    display: none;
    z-index: 9999;
}
.hover-edit:hover {
    display: block;
    z-index: 9999;
}
#btn {
    position: absolute;
    top: 117px;
    left: 78px;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-bottom-left-radius: 208px;
    border-bottom-right-radius: 208px;
    width: 194px;
    height: 105px;
    text-align: center;
    opacity: 0.9;
}
.btn-hide {
    display: none;
}
#btn:hover .btn-hide {
    display: block;
}
#btn:hover{
    background-color: black;
}
.btn-success {
    width: 95%;
}
.btn-danger {
    width: 95%;
}
.btn-success:hover {
    background-color: #00c928;
}
.container {
    padding: 0;
    margin: 0;
}
.rounded-circle {
    border: 3px solid #00c928;
}
.add-publication {
    width: 100%;
    height: 40px;
}

.add-publication .location {
    height: 33px;
}

.add-publication .location:hover {
    background-color: #00c928;
}

.add-publication .location:hover .add-publication i{
    color: #fff   
}
.image-size {
    width: calc(100% / 5);
    height: calc(100vh / 5);
}
@media (min-width: 1440px) {
    .width-profile {
        margin-left: calc((100% - 1440px) / 2);
    }
    .my-container {
        max-width: 100%!important;
    }
    .wp-user {
        width: 450px;
    }
    .wp-body {
        width: calc(100% - 450px);
    }
    .height-location {
        height: 350px;
    }
    .height-info {
        height: 350px;
    }
    #btn {
        left: 128px;
    }
    .image-size {
        min-width: 163px;
        max-width: 163px; 
        height: 163px;
    }
}
@media (max-width: 768px) {
    .wp-user {
        width: 100%;
    }
    .wp-body {
        width: 100%;
    }
    .mobile-button {
        display: block;
    }
    .height-location {
        height: 130px;
    }
    .height-info {
        height: calc(100% - 380px);
    }
    .no-mobile-button {
        display: none;
    }
    .container {
        margin-right: auto;
        margin-left: auto;
    }
    #btn {
        display: none;
    }
    .m-l-10-edit {
        margin-left: 10px;
    }
    .mobile-width {
        width: 45%!important;
    }
    .btn-hide-mobile {
        display: none;
    }
}