<!-- Sidebar  -->

<nav id="sidebar" [ngClass]="addCals">
    <div class="sidebar-header">
        <h3 class="activ-text-width" i18n="@@SidebarLogoText">
            <img 
                src="{{user.otherInformation.publicMedia.profileImage}}" 
                class="rounded-circle fit-image w-45 h-45p" 
                alt="" />
            TwoWay
        </h3>

        <strong>
            <img 
                src="{{user.otherInformation.publicMedia.profileImage}}" 
                class="rounded-circle fit-image w-45 h-45p" 
                alt="" />
        </strong>

        <div class="popularity" *ngIf="state !== null">
            <span i18n="@@SidebarPopulat">Popularnost: </span>
            <span 
                class="type" 
                [ngClass]="{'red': state.type === 'sm', 'orange': state.type === 'md', 'green': state.type === 'lg'}">
                {{state.text}}
            </span>
        </div>
    </div>

    <ul class="list-unstyled components">

        <li [ngClass]="{'active': onStatus.isChat}">
            <a class="pos-relative" [routerLink]="['/chat/list-user']">
                <i class="fa fa-weixin" aria-hidden="true"></i>
                <span class="pos-absolute style-notification" *ngIf="isChat"></span>
                <span class="activ-text-width" i18n="@@ahrefChating">Chatovanje</span>
            </a>
        </li>
        <li [ngClass]="{'active': onStatus.isProfile}">
            <a [routerLink]="['/' + user.username + '/profile']" >
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <span class="activ-text-width" i18n="@@ahrefProfil"> Profil </span>
            </a>
        </li>
        <li [ngClass]="{'active': onStatus.isSearch}">
            <a [routerLink]="['/search']" >
                <i class="fa fa-podcast" aria-hidden="true"></i>
                <span class="activ-text-width" i18n="@@ahrefSearch"> Pretraga </span>
            </a>
        </li>
        <li [ngClass]="{'active': onStatus.isNotification}">
            <a class="pos-relative" [routerLink]="['/notification']" >
                <i class="fa fa-bell" aria-hidden="true"></i>
                <span class="pos-absolute style-notification" *ngIf="isNotification"></span>
                <span class="activ-text-width"> Obavestenje </span>
            </a>
        </li>
    </ul>

    <ul class="list-unstyled">
        <li [ngClass]="{'active': onStatus.isSettings}" (click)="activeRouter()">
            <a [routerLink]="['/settings']" >
                <i class="fa fa-cogs" aria-hidden="true"></i>
                <span class="activ-text-width" i18n="@@ahrefSetting"> Podesavanja </span>
            </a>
        </li>
        <li class="">
            <a style="cursor: pointer" (click)="ngLogout()" >
                <i class="fa fa-sign-out" aria-hidden="true"></i>
                <span class="activ-text-width" i18n="@@ahrefLogiout"> Odjavite se </span>
            </a>
        </li>
    </ul>
</nav>


