.container {
    color: #00c928;
    margin-top: calc(100vh - 111vh);;
}

.mt-4 {
    margin-top: 14vh!important;
    margin-bottom: 2.5vh!important;
}

.h-100 p {
    color: #00c928 !important;
    font-size: 25px !important;
    border-bottom: 3px solid #fff;
}

.spinner-border {
    color: #00c928!important;
    margin: 30vh 0 0 40vw;
}

.body-style {
    overflow: auto;
    height: 81vh !important;
    margin-top: -5vh;
    height: 85%;
}

.search {
    position: absolute;
    top: 7vh;
    left: 72vw;
    width: 25vw;
    height: 5vh;
    padding: 10px;
    border-radius: 3px;
}

.search-button {
	display: none;
}

.m-search {
	display: block;
}

@media (max-width: 761px) {
    .search {
		top: 9vh;
		left: 5vw;
		width: 80vw;
		height: 4vh;
    }
	
	.m-search {
		display: none;
	}
	
	.search-button {
		display: block;
		color: #00c928;
		position: absolute;
		top: 55px;
		right: 25px;
		font-size: 20px;
	}
	
	.container {
		height: calc(100vh - 60px);
	}

	.mt-4 {
		margin-top: 16vh!important;
		margin-bottom: 0;
		font-size: 20px;
	}
}