.row {
	margin-left: 0;
	margin-right: 0;
}
.w-full-cal {
	width: calc(100% - 15px);
}
.b-t-l-r {
	border-top-left-radius: 5px
}
.b-t-r-r {
	border-top-right-radius: 5px
}
.b-b-r-r {
	border-bottom-right-radius: 5px
}
.b-b-l-r {
	border-bottom-left-radius: 5px
}
.box-shadow {
	box-shadow: 0px 0px 5px 5px;
}
.btn-show-hover {
	display: none;
}
.btn-show:hover .btn-show-hover{
	display: block;
	transition-delay:5s;
}
.btn-show:hover .op-3 {
	opacity: 0.9;
}
.btn-show:hover .shift-css {
	bottom: 55px!important;
}
.op-3 {
	opacity: 0.7;
}
.css-media-mobile {
	display: none;
}
.css-media-computer {
	display: block
}
.w-setting-call {
	width: 500px;
}
.w-40p-calc {
	width: 40%;
}
.show {
	display: block;
}
.hide {
	display: none;
}
@media (min-width: 769px) {
	.m-t-35 {
		margin-top: 0;
	}

	.h-calc {
		height: calc(100% - 55px);
	}
}
@media (max-width: 768px) {
	.my-container {
		padding-right: 15px;
		padding-left: 15px;
	}
	.h-full {
		height: calc(100% - 55px);;
	}
	.min-w-200 {
		max-width: 100%;
	}
	.h-calc {
		height: calc(100% - 90px);
	}
	.css-media-mobile {
		display: block;
	}
	.css-media-computer {
		display: none;
	}
	.w-setting-call {
		width: 100%;
	}
	.w-40p-calc {
		width: 100%;
	}
}

.custom-control-input:checked ~ .custom-control-label::before {
    color: #fff;
    border-color: #00c928!important;
	background-color: #00c928!important;
}