.container {
    color: #00c928;
    margin-top: -60px;
}

.mt-4 {
    margin-top: 14vh!important;
    margin-bottom: 2.5vh!important;
}

.h-100 p {
    color: #00c928 !important;
    font-size: 25px !important;
    border-bottom: 3px solid #fff;
}

.spinner-border {
    color: #00c928!important;
    margin: 30vh 0 0 40vw;
}

.body-style {
    overflow: auto;
    height: 81vh !important;
    margin-top: -5vh;
    height: 85%;
}

.search {
    position: absolute;
    top: 7vh;
    left: 72vw;
    width: 25vw;
    height: 5vh;
    padding: 10px;
    border-radius: 3px;
}

@media (max-width: 761px) {
    .search {
        display: none;
    }
}